.container {
  padding: 10px;
}

.dungeon {
  position: relative;
  margin: auto;
}

.room {
  position: absolute;
  pointer-events: none;

  svg {
    height: auto;
    max-height: 500px;
    pointer-events: none;
  }

  .modal,
  .modal-overlay {
    pointer-events: all;

    svg {
      pointer-events: all;
    }
  }
}
