<div class="row">
    <div class="col s12">
        <h1>Treasure</h1>
        <p>Hidden (DC 15 to find) Locked Simple Wooden Chest (DC 20 to unlock, DC 15 to break; 10 hp)</p>
        <p>700 cp, 4000 sp, 1900 gp, 40 pp, Box of Perfumed Candles (25 gp), Small Bag of Spices (25 gp), Rabbit Fur Ribbon (25 gp), Ceramic Dice (pair) (25 gp), Folding Boat (rare, dmg 170), Potion of Gaseous Form (rare, dmg 187)</p>
    </div>
</div>
