<div class="row">
    <div class="col s12">
        <h1>About</h1>
        <p>A faded and torn tapestry hangs from the north wall, and burning torches in iron sconces line the other walls</p>
    </div>
</div>
