<div class="row">
    <div class="col s12">
        <h1>About</h1>
        <p>A mural of a legendary battle covers the ceiling, and someone has scrawled "The thief will betray you" on the east wall.</p>
    </div>
</div>
