<div class="col s4">
    <h1>Treasure</h1>
    <ul class="collection">
        <li class="collection-item">600 cp</li>
        <li class="collection-item">12000 sp</li>
        <li class="collection-item">2600 gp</li>
        <li class="collection-item">50 pp</li>
        <li class="collection-item">4 Small Bags of Incense (25 gp each)</li>
        <li class="collection-item">Rabbit Fur Bracers (25 gp)</li>
        <li class="collection-item">Polished Stone Sundial (25 gp)</li>
        <li class="collection-item">Polished Stone Urn (25 gp)</li>
        <li class="collection-item">Wand of Web (uncommon, dmg 212)</li>
    </ul>
</div>
<div class="col s12">
    <h1>Description</h1>
    <p>The doorway is difficult to find, however: when the party goes through the archway right across it and returns (because of the cave in after the corner), the light hits it just right to see the seams of the doorway</p>
</div>
